<!DOCTYPE html>
<html lang="zxx" class="js">
	<head>
		<meta charset="utf-8">
		<meta name="author" content="Softnio">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="@@page-discription">
		<link rel="shortcut icon" href="images/favicon.png">
		<title>MyBatis-Generator-Plus</title>
		<link rel="stylesheet" href="assets/css/dashlite.css?ver=1.4.0">
	</head>
	<body class="nk-body bg-lighter npc-general has-sidebar ">
		<div class="nk-content">
			<div class="components-preview wide-md mx-auto">
				<div class="nk-block-head">
					<div class="nk-block-head-content">
						<h4 class="title nk-block-title">DataSourceConfigure</h4>
					</div>
				</div>
				<div class="card card-bordered">
					<div class="card-inner">
						<form action="/MyBatis-Generator-Plus/connectionDataSource" method="post" class="form-validate">
							<div class="row g-gs">
								<div class="col-md-12">
									<div class="form-group">
										<label class="form-label" for="fv-full-name">DataSourceHost</label>
										<div class="form-control-wrap">
											<input type="text" class="form-control" id="host" name="host" placeholder="IP:PORT" value="127.0.0.1:3306" required>
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<label class="form-label" for="fv-email">UserName</label>
										<div class="form-control-wrap">
											<input type="text" class="form-control" id="UserName" name="userName" placeholder="userName" value="root" required>
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<label class="form-label" for="fv-subject">PassWord</label>
										<div class="form-control-wrap">
											<input type="text" class="form-control" id="PassWord" name="passWord" placeholder="passWord" value="root" required>
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<label class="form-label" for="fv-topics">Versions</label>
										<div class="form-control-wrap ">
											<select class="form-control form-select" id="versions" name="versions" data-placeholder="Select DataBase Versions" required>
												<option value="5" selected="selected" >5.X(mysql-connector-java-5.1.49)</option>
												<option value="8" >8.X(mysql-connector-java-8.0.21)</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<button type="submit" class="btn btn-lg btn-primary">Connection</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<script src="assets/js/bundle.js?ver=1.4.0"></script>
		<script src="assets/js/scripts.js?ver=1.4.0"></script>
	</body>

</html>
