<!DOCTYPE html>
<html lang="zxx" class="js" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="@@page-discription">
    <link rel="shortcut icon" href="images/favicon.png">
    <title>MyBatis-Generator-Plus</title>
    <link rel="stylesheet" href="assets/css/dashlite.css?ver=1.4.0">
    <link rel="stylesheet" href="plugin/bootstrap-table/bootstrap-table.css">
</head>
<body class="nk-body bg-lighter npc-general has-sidebar ">
	<div class="nk-content ">
		<div class="container-fluid">
			<div class="nk-content-inner">
				<div class="nk-content-body">
					<div class="components-preview wide-md mx-auto">
						<div class="nk-block-head nk-block-head-lg wide-sm">
							<div class="nk-block-head-content">
								<h2 class="nk-block-title fw-normal">TableDetails</h2>
							</div>
						</div>
						<div class="nk-block nk-block-lg">
							<div class="nk-block-head">
								<div class="nk-block-head-content">
									<h4 class="nk-block-title">TableDetails</h4>
								</div>
							</div>
							<div class="card card-bordered card-preview">
								<div class="card-inner">
									<input id="table" type="hidden" th:value="${tableName}">
									<table class="table table-striped m-b-1" id="tableDetails"></table>
									<div class="card-inner">
										<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalForm">GeneratorConfigure</button>
									</div>
								</div>
							</div><!-- .card-preview -->
						</div> <!-- nk-block -->
					</div><!-- .components-preview -->
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" tabindex="-1" id="modalForm">
	    <div class="modal-dialog" role="document">
	        <div class="modal-content">
	            <div class="modal-header">
	                <h5 class="modal-title">GeneratorConfigure</h5>
	                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
	                    <em class="icon ni ni-cross"></em>
	                </a>
	            </div>
	            <div class="modal-body">
	                <form action="#" class="form-validate is-alter">
						<div class="row">
							<div class="form-group col-md-12">
								<label class="form-label" for="full-name">RootPath</label>
								<div class="form-control-wrap">
									<input type="text" class="form-control" id="full-name" required>
								</div>
							</div>
							<div class="form-group col-md-12">
								<label class="form-label" for="phone-no">ExtendsClassPath</label>
								<div class="form-control-wrap">
									<input type="text" class="form-control" id="phone-no">
								</div>
							</div>
							<div class="form-group col-md-6">
								<label class="form-label" for="email-address">ModelPath</label>
								<div class="form-control-wrap">
									<input type="text" class="form-control" id="email-address" required>
								</div>
							</div>
							<div class="form-group col-md-6">
								<label class="form-label" for="phone-no">DaoPath</label>
								<div class="form-control-wrap">
									<input type="text" class="form-control" id="phone-no">
								</div>
							</div>
							<div class="form-group col-md-6">
								<label class="form-label" for="phone-no">MapperPath</label>
								<div class="form-control-wrap">
									<input type="text" class="form-control" id="phone-no">
								</div>
							</div>
							<div class="form-group col-md-6">
								<label class="form-label" for="phone-no">ServicePath</label>
								<div class="form-control-wrap">
									<input type="text" class="form-control" id="phone-no">
								</div>
							</div>
							
							<div class="form-group col-md-12">
							    <label class="form-label">ExpandMethods</label>
							    <ul class="custom-control-group g-3 align-center">
							        <li>
							            <div class="custom-control custom-control-sm custom-checkbox">
							                <input type="checkbox" class="custom-control-input" id="pay-card">
							                <label class="custom-control-label" for="pay-card">PageHelper</label>
							            </div>
							        </li>
							        <li>
							            <div class="custom-control custom-control-sm custom-checkbox">
							                <input type="checkbox" class="custom-control-input" id="pay-bitcoin">
							                <label class="custom-control-label" for="pay-bitcoin">ToString</label>
							            </div>
							        </li>
							        <li>
							            <div class="custom-control custom-control-sm custom-checkbox">
							                <input type="checkbox" class="custom-control-input" id="pay-cash">
							                <label class="custom-control-label" for="pay-cash">Serializable</label>
							            </div>
							        </li>
							    </ul>
							</div>
							
							<div class="form-group col-md-12">
							    <button type="submit" class="btn btn-lg btn-primary">Generator</button>
							</div>
						</div>
	                </form>
	            </div>
	            <div class="modal-footer bg-light">
	                <span class="sub-text">Modal Footer Text</span>
	            </div>
	        </div>
	    </div>
	</div>
	<script type="text/javascript" src="plugin/jquery-3.4.1.min.js"></script>
    <script src="assets/js/bundle.js?ver=1.4.0"></script>
    <script src="assets/js/scripts.js?ver=1.4.0"></script>
    <script type="text/javascript" src="plugin/bootstrap-table/bootstrap-table.js"></script>
    <script type="text/javascript" src="js/table-details.js"></script>
</body>
</html>